
    <div style="text-align: center;">
        <label class="eCommerce-home-best-selling"><b>About Bagwani</b></label>
    </div>
    &nbsp;
    <div>
        <label class="eCommerce-home-small-heading">Bagwani is India’s largest and most trusted online plant nursery that specialises in all your gardening needs. The Bagwani online nursery not only sells premium quality exotic indoor plants, outdoor plants, flowering plants, and succulents to name a few, but also specialises in organic vegetable, herb, and flower seeds. Bagwani provides premium, trendy planters, best in class soil and fertilisers, and all the gardening tools a home gardener can need.
            <br><br>
            At Bagwani we believe that we are more than a garden store, we help people grow along their gardening journey, Afterall plants grow people. We believe in the magic of growing things and discovering our inner self in the process while revelling in the jot of your first new leaf, your first bloom, or your first sprouted seed.
            <br><br>
            Bagwani prides itself in the fact that it is not just an online garden store or online plant nursery but a friend who helps both you and your garden grow. We provide a lifetime of gardening support and hand hold you through all your gardening journeys.
        </label>
    </div>
