<div class="container-fluid">

    <!-- Product Image -->
    <div id="home" class="eCommerce-sidebar-home-expand">
        <div class="row">
            <div class="col-12">
                <img src="{{privacyPolicyImageUrl}}" class="card-img-top" style="max-width: 100%; max-height: 100%;"/>
            </div>
        </div>
    </div>
    <!-- Product Image -->
    <br>  

    <!-- Title -->
    <div id="title" class="eCommerce-sidebar-home-expand">
        <div class="row">
            <div class="col-2"></div> 
            <div class="col-xl-8 col-lg-8 col-md-8 col-sm-8 pl-8">    
                <label class="eCommerce-home-best-selling d-flex justify-content-center" style="text-align: center;"><b>Privacy Policy</b></label>
            </div>
            <div class="col-2"></div>
        </div>
    </div>    
    <!-- Title -->

    <hr style="width: 100%; text-align: center;">

    <!-- Description -->
    <div id="description" class="eCommerce-sidebar-home-expand">
        <div class="row">
            <div class="col-2"></div> 
            <div class="col-xl-8 col-lg-8 col-md-8 col-sm-8 pl-8"> 
                <label class="eCommerce-home-heading d-flex justify-content-center" style="text-align: center;"><b>Privacy Policy</b></label>
                &nbsp;
                <label class="eCommerce-home-heading d-flex justify-content-left" style="text-align: left;">At Ugaoo we recognize that privacy is very important. We promise to respect your contact preferences and to protect your private information. This Privacy Policy describes the information that is collected, how it is used and with whom it might be shared. This Privacy Policy applies to all of the services and products offered by gogarden.com.
                    Please read carefully the Privacy Policy and the Terms of Use before you use our website, our tools or our services and before conducting any type of transaction with us. By using any of our services, you accept the practices described in this Privacy Policy and you agree to be bound by the Terms of Use.
                </label>
            </div>
            <div class="col-2"></div>
        </div>
        &nbsp;&nbsp;
        <div class="row">
            <div class="col-2"></div> 
            <div class="col-xl-8 col-lg-8 col-md-8 col-sm-8 pl-8"> 
                <label class="eCommerce-home-heading d-flex justify-content-center" style="text-align: center;"><b>Data Collection</b></label>
                &nbsp;
                <label class="eCommerce-home-heading d-flex justify-content-left" style="text-align: left;">We do not store your credit card information or other sensitive data on our servers. Ugaoo uses the services of the most secure payment gateway to provide safe and secure payment procedures. Your credit card information is never transmitted via our website since the payment gateway is responsible for collecting, storing and encrypting your data. All the information that is collected is used for products and services provision, billing, identification and authentication, services improvement, contact and research.
                    GoGarden does not share your email address or other personally identifying information with any third parties, except our service providers, such as credit-card payment processors, performing services on our behalf. These service providers may have access to personal information needed to perform their functions but are not permitted to share or use such information for any other purposes.
                </label>
            </div>
            <div class="col-2"></div>
        </div>        
    </div>    
    <!-- Description -->

    <hr style="width: 100%; text-align: center;">

    <br>
    <!-- About Bagwani -->
    <div id="about" class="eCommerce-sidebar-home-expand">
        <ecommerce-product-about></ecommerce-product-about>
    </div>
    <!-- About Bagwani -->

    &nbsp;
    
    <!-- Navigation Pane -->
    <div id="navbar" class="eCommerce-sidebar-home-expand">
        <ecommerce-product-navigation></ecommerce-product-navigation>
    </div>
    <!-- Navigation Pane -->    
    <br>

</div>