<div class="container-fluid">

    <!-- Product Image -->
    <div id="orderconfirmationshome" class="eCommerce-sidebar-home-expand">
        <div class="row">
            <div class="col-12">
                <img src="{{orderConfirmationImageUrl}}" class="card-img-top" style="max-width: 100%; max-height: 100%;"/>
            </div>
        </div>
    </div>
    <!-- Product Image -->
    <br>  

    <!-- Title -->
    <div id="orderconfirmationtitle" class="eCommerce-sidebar-home-expand">
        <div class="row">
            <div class="col-2"></div> 
            <div class="col-xl-8 col-lg-8 col-md-8 col-sm-8 pl-8">    
                <label class="eCommerce-home-best-selling d-flex justify-content-center" style="text-align: center;"><b><i class="bi bi-emoji-heart-eyes"></i></b>&nbsp;<b><i class="bi bi-emoji-heart-eyes"></i></b>&nbsp;&nbsp;<b>Order Confirmation</b>&nbsp;&nbsp;<b><i class="bi bi-emoji-heart-eyes"></i></b>&nbsp;<b><i class="bi bi-emoji-heart-eyes"></i></b></label>
            </div>
            <div class="col-2"></div>
        </div>
    </div>    
    <!-- Title -->

    <hr style="width: 100%; text-align: center;">

    <!-- Description -->
    <div id="orderconfirmationdescription" class="eCommerce-sidebar-home-expand">
        <div class="row">
            <div class="col-2"></div> 
            <div class="col-xl-8 col-lg-8 col-md-8 col-sm-8 pl-8"> 
                <label class="eCommerce-home-heading d-flex justify-content-center" style="text-align: center;">!!! Congratulations !!!</label>
                &nbsp;
                <label class="eCommerce-home-heading d-flex justify-content-center" style="text-align: center;">Your Order has been placed with OrderId : {{orderId}}</label>
            </div>
            <div class="col-2"></div>
        </div>
    </div>    
    <!-- Description -->

    <hr style="width: 100%; text-align: center;">

    <br>
    <!-- About Bagwani -->
    <div id="about" class="eCommerce-sidebar-home-expand">
        <ecommerce-product-about></ecommerce-product-about>
    </div>
    <!-- About Bagwani -->

    &nbsp;
    
    <!-- Navigation Pane -->
    <div id="navbar" class="eCommerce-sidebar-home-expand">
        <ecommerce-product-navigation></ecommerce-product-navigation>
    </div>
    <!-- Navigation Pane -->    
    <br>

</div>