.eCommerce-sidebar
{
    height:100%;
    /*width:200px;*/
    background-color:#fff;
    position:fixed!important;
    z-index:1;
    overflow:auto;
    overflow-y: scroll;
}

.eCommerce-sidebar-logo
{
    color:rgb(244, 250, 244); 
    padding:10px;
}

.eCommerce-sidebar-background
{
    width:12%; 
    background:linear-gradient(to bottom,#339233,#7de87d);
}

.eCommerce-sidebar-header
{
    height:10px;
    background:rgb(51, 155, 124);
    color:rgb(244, 250, 244); 
}

.eCommerce-sidebar-header:hover
{
    height:10px;
    background:rgb(21, 125, 94);
    color:rgb(244, 250, 244);
    cursor: pointer;     
}

.eCommerce-sidebar-body
{
    background:rgb(160, 180, 165)
}

.eCommerce-sidebar-button
{
    color: rgba(254, 254, 254);
    background:rgb(125, 141, 126);
    border: 1px solid rgb(231, 231, 226);
    border-radius: 3px;
    text-align: center;
    width: 100%;
}

.eCommerce-sidebar-button:hover 
{
    color: rgba(240, 240, 240);
    background-color:rgb(92, 106, 93);
    text-decoration: underline;
    cursor: pointer;
    transform: scale(1.03);
}

.eCommerce-sidebar-margin
{
    margin-left:12%;
}

.eCommerce-sidebar-margin-padding
{
    margin-left:15%;
}

.eCommerce-footer-margin-padding
{
    margin-top:3px;
    margin-left:80%;
    font-size: x-small;
}

.eCommerce-box-shadow{
    border: 1px solid #061508e7;
    box-shadow: 2px 2px 7px rgb(51, 155, 124), 5px 5px 7px rgb(51, 155, 124);
}

.eCommerce-background
{
    /**background-color:rgb(192, 233, 192);*/
    background:linear-gradient(to bottom,#b2e6cf,#a5e7af);
}

.eCommerce-anchor-background
{
    color:rgb(0, 128, 0);
}

.eCommerce-anchor-background-header
{
    color:rgb(35, 18, 81);
}


.eCommerce-welcome-background
{
    color:rgb(38, 84, 235);
}

.eCommerce-nav-button
{
    background:rgb(4, 125, 4);
    color:beige;
}

.eCommerce-small-button-one
{
    background:rgb(28, 68, 230);
    color:rgb(225, 236, 17);
}

.eCommerce-small-button-two
{
    background:rgb(230, 116, 28);
    color:rgb(254, 254, 254);
}

.eCommerce-small-button-three
{
    background:rgb(28, 230, 102);
    color:rgb(1, 5, 23);
}

.eCommerce-control-padding
{
    margin-top: 5%;
    border: 1px solid beige;
    border-radius: 3px;
    background-color:rgb(169, 231, 169);
}

.eCommerce-control-padding:hover
{
    background-color:rgb(4, 125, 4);
    color: beige;
}

.eCommerce-control-top-padding
{
    margin-top: 5%;
}

.eCommerce-control-top-padding-header
{
    margin-top: 1%;
}

.eCommerce-register-navigation
{
    background-color: rgb(51, 155, 124);
}

.eCommerce-register-label
{
    color: rgb(51, 155, 124);
}

.eCommerce-register-navigation-label
{
    color: rgb(232, 241, 239);
}

.eCommerce-register-navigation-label-success
{
    color: rgb(237, 246, 64);
}

.eCommerce-login-top-padding
{
    margin-top: 10px;
}

.eCommerce-round-control
{
    border-radius: 10px; 
    border-color: rgba(123, 120, 128, 0.627); 
    border-width: 5x;
}

.eCommerce-login-failed
{
    background-color: rgb(234, 124, 102);
}

.eCommerce-login-failed-label
{
    color: rgb(232, 241, 239);
}

.eCommerce-search-icon {
    margin-left: 5px;
    padding-left: 25px;
    /**background: url("https://static.thenounproject.com/png/101791-200.png") no-repeat left;*/
    background: url("../assets/images/search.png") no-repeat left;
    background-size: 20px;
    background-color: rgb(232, 241, 239); 
}

simulation {
    left: -450px;
    transition: 500ms ease all;
}

simulation.simulation-open {
    left: 0;
}