<div class="row">
    <hr style="width:100%; text-align:center; margin-top: 13px;">
    <div class="col-md-2" style="margin-top: 2px;">     
    </div>

    <div class="col-md-2" style="margin-top: 13px;">
        <label class="eCommerce-anchor-background-header eCommerce-control-top-padding-header"><b>Size</b></label>
    </div>
    &nbsp;&nbsp;
    <div class="col-md-2" style="margin-top: 13px;">
        <label class="eCommerce-anchor-background-header eCommerce-control-top-padding-header"><b>Color</b></label>
    </div>
    &nbsp;
    <div class="col-md-2" style="margin-top: 13px;">
    </div>

    <!--<div class="col-md-1"></div>-->
    <div class="col-md-2" style="margin-top: 13px;">
        <label class="eCommerce-anchor-background-header eCommerce-control-top-padding-header"><b>View</b></label>
    </div>
    <hr style="width:100%;text-align:center;">
</div>