<div class="row">
    <hr style="width:100%; text-align:center; margin-top: 13px;">
    <div class="col-md-2" style="margin-top: 2px;">     
    </div>

    <div class="col-md-1" style="margin-top: 13px;">
        <label class="eCommerce-anchor-background-header eCommerce-control-top-padding-header"><b>Size</b></label>
    </div>
    &nbsp;&nbsp;
    <div class="col-md-1" style="margin-top: 13px;">
        <label class="eCommerce-anchor-background-header eCommerce-control-top-padding-header"><b>Color</b></label>
    </div>
    &nbsp;
    <div class="col-md-1" style="margin-top: 13px;">
    </div>
    <div class="col-md-1" style="margin-top: 10px; width:13%;">
        <label class="eCommerce-anchor-background-header eCommerce-control-top-padding-header"><b>Price( ₹ )</b></label>
    </div>

    <div class="col-md-1" style="margin-top: 10px; width:13%;">
        <label class="eCommerce-anchor-background-header eCommerce-control-top-padding-header"><b>Discount(%)</b></label>
    </div>

    <div class="col-md-1" style="margin-top: 10px; width:13%;">
        <label class="eCommerce-anchor-background-header eCommerce-control-top-padding-header"><b>Inventory Count</b></label>
    </div>

    <div class="col-md-1" style="margin-top: 10px; width:13%;">
        <label class="eCommerce-anchor-background-header eCommerce-control-top-padding-header"><b>Upload Images</b></label>
    </div>
    <div class="col-md-1" style="margin-top: 13px;">
    </div>
    <hr style="width:100%;text-align:center;">
</div>