    <!-- Navigation Pane -->
    <div>
        <nav class="navbar navbar-expand-lg eCommerce-nav-home-background">
            <div>
                <label class="eCommerce-home-best-selling eCommerce-nav-home-label d-flex justify-content-center">
                    <b><i class="bi bi-flower3"></i><i class="bi bi-tree-fill"></i> !! My Plants My Trees My Fruits My Vegetables My Store My Equipment My Room My Pond My Garden !! <i class="bi bi-tree-fill"></i><i class="bi bi-flower3"></i></b>
                </label>
            </div>           
        </nav>
    </div>
    <!-- Navigation Pane -->

    <!-- Bottom -->
    <div class="eCommerce-home-bottom-background">

        <div class="row pb-3" style="height:170px;">
            <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 pl-4 d-flex justify-content-center" style="height:100px; width:24%; margin-top: 10px; margin-left: 10px;">
                <ul>
                    <!--<li><a routerLink="termsandcondition" style="color:darkgreen;">Terms of Service</a></li>-->
                    <li><a routerLink="" style="color:darkgreen;" (click)="onTermsAndCondition()">Terms of Service</a></li>
                    <li><a routerLink="" style="color:darkgreen;">Refund Policy</a></li>
                    <li><a routerLink="" style="color:darkgreen;" (click)="onPrivacyPolicy()">Privacy Policy</a></li>
                    <li><a routerLink="" style="color:darkgreen;">FAQs</a></li>
                </ul>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 pl-4 d-flex justify-content-center" style="height:100px; width:24%; margin-top: 10px; margin-left: 10px;">
                <ul>
                    <li><a routerLink="" style="color:darkgreen;">About Us</a></li>
                </ul>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 pl-4 d-flex justify-content-center" style="height:100px; width:24%; margin-top: 10px; margin-left: 10px;">
                <ul>
                    <li><a routerLink="" style="color:darkgreen;"><i class="bi bi-facebook"></i> FaceBook</a></li>
                    <li><a routerLink="" style="color:darkgreen;"><i class="bi bi-twitter"></i> Twitter</a></li>
                    <li><a routerLink="" style="color:darkgreen;" (click)="onYoutube()"><i class="bi bi-youtube"></i> Youtube</a></li>
                    <li><a routerLink="" style="color:darkgreen;"><i class="bi bi-instagram"></i> Instagram</a></li>
                    <li><a routerLink="" style="color:darkgreen;"><i class="bi bi-linkedin"></i> Linkedin</a></li>
                    <li><a routerLink="" style="color:darkgreen;"><i class="bi bi-whatsapp"></i> Whatsapp</a></li>
                </ul>            
            </div>
        </div>            
        
    </div>
    <!-- Bottom -->

    <!-- Navigation Pane -->
    <div>
        <nav class="navbar navbar-expand-lg eCommerce-nav-home-background">
            <div>
                <label class="eCommerce-home-best-selling eCommerce-nav-home-label d-flex justify-content-center">
                    <b><i class="bi bi-tree-fill"></i><i class="bi bi-tree-fill"></i> !! My Plants My Trees My Fruits My Vegetables My Store My Equipment My Room My Pond My Garden !! <i class="bi bi-tree-fill"></i><i class="bi bi-tree-fill"></i></b>
                </label>
            </div>           
        </nav>
    </div>
    <!-- Navigation Pane -->